# === MovieLens Data ===
ml-100k/*.csv
ml-100k/*.txt
ml-100k/*.data
ml-100k/*.info
ml-100k/*.item
ml-100k/*.user
ml-100k/*.base
ml-100k/*.test
ml-100k/README*

# === Cached Outputs ===
*.pkl
*.npz
*.npy
*.joblib
*.cache
*.log
*.sqlite3

# === OMDb Metadata Cache  ===
ml-100k/omdb_metadata.csv

# === Python Internals ===
__pycache__/
*.py[cod]
*.pyc
*.pyo



# === VS Code and MacOS System Files ===
.vscode/
.DS_Store

