
# === Cached Outputs ===
*.pkl
*.npz
*.npy
*.joblib
*.cache
*.log
*.sqlite3

# === OMDb Metadata Cache  ===
ml-100k/omdb_metadata.csv

# === Python Internals ===
__pycache__/
*.py[cod]
*.pyc
*.pyo

# === VS Code and MacOS System Files ===
.vscode/
.DS_Store

